include aho-corasick/*.c
include aho-corasick/*.h
include LICENSE
include Makefile
include MANIFEST.in
include README.md
include ahocorasick.pyx
include requirements.txt
include requirements-dev.txt
include setup.py
